footer
  .footer_logo
    img(src="assets/Jerocare.png", alt="Footer Image", sizes="100px x 100px").footer_img
  .quick__links
     h3.quick__link_title Quick Links
     ul.footer_nav 
       li.footer_nav_item: a(href="http://").nav_link Visit 
       li.footer_nav_item: a(href="http://").nav_link Inquire
       li.footer_nav_item: a(href="http://").nav_link Reserve
       li.footer_nav_item: a(href="http://").nav_link Checkout
  .copyright &copy; 
       span By Anthony Mwenyo.
       span  All Right Reserved
script(type="module", src="js/menu.js") 
