header.header
  nav.nav 
     .logo: h1 Zed Tour
     ul.nav_items 
            li.nav_item: a(href="http://").nav_link Visit 
            li.nav_item: a(href="http://").nav_link Inquire
            li.nav_item: a(href="http://").nav_link Reserve
            li.nav_item: a(href="http://").nav_link Checkout