doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Tours API")
        title Tour Lane | #{title}
        link(rel="stylesheet", href="css/style.css")
    body 
     include _header.pug
     block content
     include _footer