doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/notfound.css")
        title 4 0 4 | #{title}
    body
      main 
        section 
          .not__found
            h1.not__found__title 404 | Page Not Found
            .not__found__content
               p Oops, you have wondered into uncharted teritory. The page you were looking for was not found,  click on the button  below to go to the home page
               a(href="/").back_home__btn Go To Home